<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CircularProgressBar" version="2.5.6403.13419" targetFramework="net452" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net452" />
  <package id="FreeSpire.Office" version="2.15" targetFramework="net452" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net452" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net452" />
  <package id="MaterialSkin.Updated" version="0.2.2" targetFramework="net452" />
  <package id="System.Data.SQLite" version="1.0.105.2" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.105.2" targetFramework="net452" />
  <package id="System.Data.SQLite.EF6" version="1.0.105.2" targetFramework="net452" />
  <package id="System.Data.SQLite.Linq" version="1.0.105.2" targetFramework="net452" />
  <package id="WinFormAnimation" version="1.5.6298.3372" targetFramework="net452" />
</packages>